<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssyanhuo.arknightshelper">

    <queries>
        <package android:name="com.ssyanhuo.akrnightshelper_plannerplugin" />
        <package android:name="com.hypergryph.arknights" />
        <package android:name="com.hypergryph.arknights.bilibili" />
        <package android:name="tw.txwy.and.arknights" />
        <package android:name="com.YoStarEN.Arknights" />
        <package android:name="com.YoStarJP.Arknights" />
        <package android:name="com.YoStarKR.Arknights" />
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Default"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.MainActivity2"
            android:theme="@style/AppTheme2">
        </activity>

        <service
            android:name=".service.ScreenCaptureService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/AppTheme.Default.Intro" />
        <activity
            android:name=".activity.ScreenCaptureActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.ssyanhuo.arknightshelper.screencapturetask"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".activity.LaunchGameActivity"
            android:theme="@style/DialogActivity" />

        <service
            android:name=".service.AutoStartService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
            -->
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ssyanhuo.arknightshelper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.LabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_lab" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.Default.NoActionBar" />

        <receiver android:name=".service.BroadcastReceiver">
            <intent-filter>
                <action android:name="com.ssyanhuo.arknightshelper.stopservice" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.OverlayService" />
        <service
            android:name=".service.QSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>